@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import "./reset.css";
@import "./status-bar.css";
@import "./variables.css";

.welcome-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
  font-weight: 500;
}

.welcome-header__title {
  margin-bottom: 30px;
  font-size: 25px;
}
.welcome-header__text {
  text-align: center;
  width: 70%;
  opacity: 0.8;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
.login-form__id {
  width: 350px;
  height: 40px;
  border: 0;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

.login-form__id:focus{
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.6);
}

.login-form__pw {
  width: 350px;
  height: 40px;
  border: 0;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
  margin-top: 7px;
  margin-bottom: 40px;
}

.login-form__pw:focus{
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.6);:
}

.login-form__submit {
  background-color: rgb(244, 244, 244);
  width: 350px;
  height: 45px;
  border: 0;
  margin-bottom: 20px;
}

.login-form__submit:active{
  background-color:rgb(214, 214, 214) ;
}

.login-form__signup {
  background-color: rgb(244, 244, 244);
  width: 350px;
  height: 45px;
  border: 0;
  margin-bottom: 20px;
}

.login-form__signup:active{
    background-color:rgb(214, 214, 214) ;
  }

.login-form input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

